.photo-grid{
  margin: 0 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap:16px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid{
  gap:14px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 928px;
  min-height: 942px;
  margin: 0 48px;
}
}
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid{
  margin: 0 24px;
  gap:12px;
  grid-template-columns: 1fr 1fr;
  max-width: 720px;
  min-height: 1664px;
}
}

  
@media screen and (min-width: 300px) and (max-width: 767px) {
  .photo-grid{
  margin: 0 16px;
  gap:12px;
  grid-template-columns: 1fr;
  max-width: 288px;
  min-height: 2724px;
}
}


