.places{
  display: grid;
  grid-row-gap: 80px;
  align-items: center;
  padding: 0 148px;
}

@media screen and (min-width: 830px) and (max-width: 1200px) {
  .places{
    max-width: 100%;
    min-height: 3292px;
    padding: 0 48px;
}
}
  
@media screen and (min-width: 580px) and (max-width: 829px) {
  .places{
  max-width: 720px;
  min-height: 2808px;
  grid-row-gap: 72px;
  padding: 0 24px;
}
}
  
@media screen and (min-width: 500px) and (max-width: 579px) {
  .places{
  max-width: 579px;
  grid-row-gap: 50px;
  padding: 0 24px;
}
}

@media screen and (min-width: 240px) and (max-width: 499px) {
  .places{
    max-width: 499px;
    grid-row-gap: 50px;
    padding: 0;
  }
  }