.content{
  display:grid;
  grid-row-gap:92px;
  grid-template-columns: minmax(240px, 1280px);
  padding: 56px 0 92px 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .content{
    grid-row-gap:92px;
    padding: 48px 0 92px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .content{
    grid-row-gap:88px;
    padding: 48px 0 92px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .content{
    grid-row-gap:64px;
    padding: 48px 0 64px 0;
  }
}

@media screen and (max-width: 319px) {
  .content{
    grid-row-gap:64px;
  }
}