.place__paragraphs{
  grid-area: par;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
}
  
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .place__paragraphs{
    font-size: 18px;
  }
}
  
@media screen and (min-width: 240px) and (max-width: 779px) {
.place__paragraphs{
  font-size: 16px;
}
}