.lead__title{
  margin: 0 132px 0 132px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  max-width: 720px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__title{
  margin: 0 104px;
  max-width: 100%;
}
}
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__title{
  margin: 0 16px;
  max-width: 100%;
}
}
@media screen and (min-width: 620px) and (max-width: 767px) {
  .lead__title{
  margin: 0 16px;
  font-size: 80px;
  line-height: 90px;
  max-width: 100%;
}
}
@media screen and (min-width: 496px) and (max-width: 619px) {
  .lead__title{
    margin: 0 auto;
    font-size: 40px;
    line-height: 44px;
    max-width: 80%;
  }
}
  @media screen and (min-width: 319px) and (max-width: 495px) {
  .lead__title{
    margin: 0 auto;
    font-size: 40px;
    line-height: 44px;
    max-width: 100%;
  }
}
@media screen and (max-width: 318px) {
  .lead__title{
    margin: 0;
    font-size: 32px;
    line-height: 44px;
    max-width: 100%;
  }
}