.place__paragraph{
  grid-area: par;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
}
  
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .place__paragraph{
    margin: 0;
    font-size: 18px;
  }
}
  
@media screen and (min-width: 350px) and (max-width: 779px) {
.place__paragraph{
  margin: 0;
  font-size: 16px;
}
}

@media screen and (min-width: 240px) and (max-width: 349px) {
  .place__paragraph{
    margin: 0 16px;
    font-size: 16px;
  }
  }