.place__paragraph_1{
  margin-bottom: 12px;
}

@media screen and (max-width: 1140px) {
  .place__paragraph_1{
    margin: 0 0 26px 0;
  }
}
  
@media screen and (max-width: 984px) {
  .place__paragraph_1{
    margin: 0 0 25px 0;
  }
}
  
@media screen and (max-width: 568px) {
  .place__paragraph_1{
    margin: 0 0 12px 0;
  }
}