.footer{
  max-width: 1184px;
  width: 100%;
  display: grid;
  grid-template-areas:
  "links . copyright";
  grid-template-columns: 50% 1fr 25%;
  grid-template-rows: 1fr;
  box-sizing: border-box;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .footer{
    padding: 0;
    max-width: 928px;
  }
}

@media screen and (min-width: 650px) and (max-width: 999px) {
  .footer{
    max-width: 720px;
  }
}

@media screen and (min-width: 240px) and (max-width: 649px) {
  .footer{
   display: grid;
   grid-template-areas:
   "links"
   "copyright";
   grid-template-rows: 80% 20%;
   grid-template-columns: 1fr;
   align-self: start;
   padding-left: 16px;
  }
}

