.photo-grid__image{
  max-width: 284px;
  min-height: 213px;
}  

@media screen and (min-width: 1000px) and (max-width: 1200px) {
.photo-grid__image{
  max-width: 300px;
  min-height: 225px;
}
}

@media screen and (min-width: 750px) and (max-width: 999px) {
.photo-grid__image{
  max-width: 352px;
  min-height: 264px;
}
}

@media screen and (min-width: 300px) and (max-width: 749px) {
.photo-grid__image{
  max-width: 288px;
  min-height: 216px;
}
}