.place__website{
  grid-area: web;
  max-height: 46px;
  align-self: end;
}

@media screen and (min-width: 830px) and (max-width: 1200px) {
  .place__website{
    max-width: 456px;
  }
}
  
@media screen and (min-width: 580px) and (max-width: 829px) {
  .place__website{
    max-width: 352px;
  }
}

@media screen and (min-width: 350px) and (max-width: 579px) {
  .place__website{
  max-width: 288px;
}
}

@media screen and (min-width: 240px) and (max-width: 349px) {
  .place__website{
  max-width: 288px;
  padding-left: 16px;
}
}