.intro__title{
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 546px) and (max-width: 767px) {
  .intro__title{
  max-width: 1fr;
  font-size: 1.5em;
  line-height: 35px;
}
}

@media screen and (max-width: 545px) {
  .intro__title{
    max-width: 1fr;
    font-size: 2em;
    line-height: 35px;
  }
  }